@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

@import "bootstrap/scss/bootstrap";
/* import the necessary Bootstrap files */
@import "bootstrap/scss/_functions";
@import 'plyr/src/sass/plyr.scss';
@import "bootstrap/scss/_variables";
@import "./_variables";

$theme-colors: (
  primary: $purple,
);

$primary: purple;
$danger: red;

* {
  font-family: "Montserrat", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif;
}

.vue-container {
  width: 100%;
}


.btn-primary {
  color: #fff !important;
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
}

.form-check-input:checked {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
}

.btn-outline-primary {
  background-color: #fff !important;
  border-color: $primaryColor !important;
  color: $primaryColor !important;
}

.form-check-input:focus {
  border-color: rgba($primaryLightColor, 0.7) !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba($primaryLightColor, 0.6) !important;
}

.form-control:focus {
  border-color: $primaryLightColor !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba($primaryLightColor, 0.6) !important;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba($primaryLightColor, 0.7) !important;
}

.app__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1.25rem;
  color: inherit;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

.app__logo {
  font-family: "Golden Plains - Demo";
  font-size: 4rem;
  text-decoration: none;
  margin-top: 3rem;
  margin-bottom: -10px;
  color: #ffffff;
}

.app__copyright {
  font-size: 10px;
  color: #ffffff;
}
.chat_preview_background {
  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  text-align: center;

  @include breakpoint(mobile) {
    padding: 0;
  }

  &__close {
    background: #444;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin: 0;
    padding: 9px;
    transition: color .2s;
    vertical-align: top;
    visibility: inherit;
    width: 40px;
    height: 40px;
    color: #ccc;
    z-index: 100000066;

    svg {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
  }

  &__click {
    z-index: 1000001;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__block {

    height: 100%;
    display: inline-block;
    margin: 0 auto;
    max-height: 100%;
    z-index: 10000002;

    .plyr__video-wrapper {
      background-color: rgba(0, 0, 0, 0) !important;
    }

    .plyr__poster {
      background-color: rgba(0, 0, 0, 0) !important;
    }

    .plyr--video {
      height: 100%;
      z-index: 10000002;
    }

    video {
      max-width: 100%;
      z-index: 10000003;
      background-color: rgba(255, 255, 255, 0) !important;
    }
  }

}

lottie-player {
  position: relative;
  z-index: 0;
}

.emoji-mart {
  float: right;
  max-width: 400px!important;
  width: 100%!important;
}

.cool-lightbox {
  z-index: 1000000;
}