$primaryColor: #5E0D8D;
$primaryBackground: #f1edf3;
$primaryLightColor: #D7A2F6;
$primaryBoldColor: #3C085A;
$borderColor: #f0f0f0;
$textColor: #444;
$textLightColor: #aaa;
$falseColor: #d04437;
$shadowColor: #f0f0f0;
$backgroundColor: #ddd;
$bodyBackground: #fff;
$borderRadiusPrimary: 16px;

$fontFamily: 'Montserrat', sans-serif;
$fontBold: 'Montserrat', sans-serif;
$fontOther: 'Montserrat', sans-serif;

$firstColor: #5E0D8D;
$successColor: #2a9d8f;
$secondColor: #ef5777;
$dangerColor: #ff3f34;
@mixin breakpoint($point) {
	@if $point == max {
		@media (min-width: 1520px) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 1260px) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 960px) and (max-width: 1259px) { @content ; }
	}
	@else if $point == phablet {
		@media (max-width: 959px)  { @content ; }
	}
	@else if $point == mobile {
		@media (max-width: 500px)  { @content ; }
	}
	@else if $point == small_mobile {
		@media (max-width: 420px)  { @content ; }
	}
	@else if $point == tiny_mobile {
		@media (max-width: 360px)  { @content ; }
	}
}
