<template>
  <div class="login_block">
    <div class="login_block_left">
      <img src="../assets/images/image_login.svg" />
    </div>
    <div class="login_block_right">
      <div class="login__form">
        <div class="login__form__username">
          <h2>Hello Again!</h2>
          <div style="width: 100%">
            <div class="form-group">
              <div
                class="login__right__form__username__alert"
                v-if="message.status && message.text"
              >
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  role="alert"
                >
                  {{ message.text }}
                  <button
                    type="button"
                    class="btn close"
                    data-dismiss="alert"
                    aria-label="Close"
                    v-on:click="handleCloseMessage"
                  >
                    <span aria-hidden="true" style="font-size: 30px; color: "
                      >&times;</span
                    >
                  </button>
                </div>
              </div>

              <!-- <label class="pt-4 pb-2" for="exampleInputEmail1"
                >Email address</label
              >
              <input
                type="email"
                class="form-control form-control-lg"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                style="font-size: 16px"
                v-model.trim="userName"
                @keyup.enter="joinSubmit"
                required
              /> -->
            </div>
            <!-- <div class="form-group">
              <label class="pt-3 pb-2" for="exampleInputPassword1"
                >Password</label
              >
              <input
                type="password"
                class="form-control form-control-lg"
                id="exampleInputPassword1"
                placeholder="Password"
                style="font-size: 16px"
                v-model.trim="password"
                @keyup.enter="joinSubmit"
                required
              />
            </div> -->
            <!-- <div class="pt-3 mb-3 w-100" style="float: left">
              <p style="text-align: center; width: 100%">
                If you have an account by e-mail and password, click
                <a
                  href="#"
                  v-on:click="
                    () => {
                      isLoginMail = !isLoginMail;
                    }
                  "
                  >here</a
                >
                to login.
              </p>
            </div> -->

            <div style="width: 100%; float: left" v-if="!isLoginMail">
              <div class="form-group">
                <label class="pt-4 pb-2" for="exampleInputEmail1">Token</label>
                <input
                  type="email"
                  class="form-control form-control-lg"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter token"
                  style="font-size: 16px"
                  v-model.trim="userName"
                  @keyup.enter="joinSubmit"
                  required
                  :disabled="isLoading"
                />
              </div>
              <div class="form-group form-check pt-3 pb-2">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                  v-model="rememberPassword"
                  :disabled="isLoading"
                />
                <label class="form-check-label" for="exampleCheck1"
                  >Remember for 30 days</label
                >
              </div>
              <button
                type="submit"
                class="btn btn-primary w-100"
                @click="joinSubmit"
                v-if="!isLoading"
              >
                Login
              </button>
              <button
                type="submit"
                class="btn btn-primary w-100"
                v-if="isLoading"
                disabled
              >
                <span
                  class="spinner-border spinner-border-sm mx-2"
                  role="status"
                  aria-hidden="true"
                ></span>
                Login...
              </button>
            </div>
            <div
              id="g_id_onload"
              data-client_id="1010938218852-k595iror2jvjkl53unq0407p14pajhkv.apps.googleusercontent.com"
              :data-login_uri="mainUrl + '/google-login'"
              data-cancel_on_tap_outside="false"
              data-skip_prompt_cookie="sid"
              v-if="isShowPopup"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Compressor from "compressorjs";
import reactive from "vue";
import { loginService } from "../services/login.services";
import axios from "axios";
export default {
  data() {
    return {
      userImage: require("../assets/avatar.svg"),
      userName: "",
      rememberPassword: false,
      message: {
        status: false,
        text: "",
      },
      isLoading: false,
      password: "",
      formState: {
        username: "",
        password: "",
        remember: true,
      },
      idToken: "",
      permissionGranted: false,
      loading: false,
      isLoginMail: false,
      gapi: null,
    };
  },

  created() {
    if (process.client) {
      this.isShowPopup = true;
      if (this.userObject) {
        window.location.href = "/";
      }
      this.handleRequestPermission();
      this.handleGetIdToken();
      let currentWidth = window.innerWidth;

      if (currentWidth > 500) {
        if (currentWidth <= 1080) {
          let rightWidth = currentWidth / 2;
          this.dataWidth = rightWidth - 40;
        } else {
          this.dataWidth = 400;
        }
      } else {
        this.dataWidth = currentWidth - 40;
      }

      document.addEventListener("AppleIDSignInOnSuccess", (event) => {
        console.log(event.detail.data);
      });

      document.addEventListener("AppleIDSignInOnFailure", (event) => {
        // Handle error.
        console.log(event.detail.error);
      });
    }

    if (this.$route.query.credential) {
      this.isShowPopup = false;
      this.isLoading = true;
      const params = new URLSearchParams();
      params.append("user_token", this.$route.query.credential);
      params.append("device_uuid", "68413da2d51809da");
      params.append("device_type", "website");

      this.isLoading = true;
      let self = this;
      setTimeout(() => {
        params.append("device_signature", self.idToken);
        loginService
          .loginWithGoogle(params)
          .then((response) => {
            if (response && response.data) {
              let dataToUpdate = response.data;
              dataToUpdate = {
                ...dataToUpdate,
                ...{ auth_code: response?.headers["x-authorization"] },
                ...{ device_signature: self.idToken },
              };
              localStorage.setItem("user", JSON.stringify(dataToUpdate));
              self.$store.commit("reloadUser", true);
              window.location.href = "/";
            } else {
              self.message = {
                status: true,
                text: "Have an error. Please try again! ",
              };
            }
            self.isLoading = false;
          })
          .catch((error) => {
            self.isLoading = false;
            self.message = {
              status: true,
              text: error.response.data.message,
            };
          });
      }, 1000);
    } else {
      this.isShowPopup = true;
    }

    if (this.dataUser && this.dataUser.apple_code) {
      this.isLoading = true;
      this.isShowPopup = false;
      const params = new URLSearchParams();
      params.append("identityToken", this.dataUser.apple_id_token);
      params.append("device_uuid", "68413da2d51809da");
      params.append("device_type", "website");

      this.isLoading = true;
      let self = this;
      setTimeout(() => {
        params.append("device_signature", self.idToken);
        loginService
          .loginWithApple(params)
          .then((response) => {
            if (response && response.data) {
              let dataToUpdate = response.data;
              dataToUpdate = {
                ...dataToUpdate,
                ...{ auth_code: response?.headers["x-authorization"] },
                ...{ device_signature: self.idToken },
              };
              localStorage.setItem("user", JSON.stringify(dataToUpdate));
              self.$store.commit("reloadUser", true);
              window.location.href = "/";
            } else {
              self.message = {
                status: true,
                text: "Have an error. Please try again! ",
              };
            }
            self.isLoading = false;
          })
          .catch((error) => {
            self.isLoading = false;
            self.message = {
              status: true,
              text: error.response.data.message,
            };
          });
      }, 1000);
    } else {
      this.isShowPopup = true;
    }
  },
  watch: {
    gapi(newData) {},
  },

  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    },
  },

  methods: {
    async handleRequestPermission() {
      const permission = await Notification.requestPermission();
      this.permissionGranted = permission === "granted";
    },
    async handleGetIdToken() {
      try {
        this.loading = true;
        let currentToken;
        try {
          currentToken = await this.$fire.messaging.getToken();
        } catch (error) {
          this.idToken = "";
          this.loading = false;
        }
        if (currentToken) {
          this.idToken = currentToken;
        } else {
          this.idToken = "";
        }
        this.loading = false;
      } catch (error) {
        this.idToken = "";
        this.loading = false;
      }
    },

    onFinish(values) {},
    onFinishFailed(errorInfo) {},
    uploadImages(e) {
      const imgFile = e.target.files[0];
      const vueThis = this;

      new Compressor(imgFile, {
        quality: 0.1,
        success(res) {
          const formData = new FormData();
          formData.append("file", res, res.name);

          const reader = new FileReader();
          reader.readAsDataURL(res);

          reader.addEventListener(
            "load",
            () => {
              vueThis.userImage = reader.result;
            },
            false
          );
        },
        error(err) {},
      });
    },

    handleCloseMessage() {
      this.message = {
        status: false,
        text: "",
      };
    },

    joinSubmit() {
      this.handleCloseMessage();
      if (!this.userName) {
        this.message = {
          status: true,
          text: "Please fill out Token!",
        };
        return false;
      }

      const params = new URLSearchParams();
      params.append("id_token", this.userName);
      params.append("device_uuid", "67675.khjHGJJ.87687.dsggdw");
      params.append("device_signature", "112667336037344462475");
      params.append("device_type", "android");

      this.isLoading = true;
      loginService
        .loginWithGoogle(params)
        .then((response) => {
          console.log(response);
          if (response && response.data) {
            let dataToUpdate = response.data;
            dataToUpdate = {
              ...dataToUpdate,
              ...{ auth_code: response?.headers["x-authorization"] },
              ...{ device_signature: this.idToken },
            };
            localStorage.setItem("user", JSON.stringify(dataToUpdate));
            this.$store.commit("reloadUser", true);
            window.location.href = "/chat";
          } else {
            this.message = {
              status: true,
              text: "Token is not correct. Please try again! ",
            };
            this.isShowPopup = true;
          }
          this.isLoading = false;
        })
        .catch((error) => {
          this.isLoading = false;
          this.message = {
            status: true,
            text: "Token is not match!",
          };
          this.isShowPopup = true;
        });
    },
  },
};
</script>

<style lang="scss">
@import "../assets/scss/_variables.scss";
.login_block {
  width: 100%;
  float: left;
}
.login_block_left {
  width: 50%;
  float: left;
  height: 100vh;
  background-color: #cff2ee;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  overflow: hidden;
  @include breakpoint(mobile) {
    display: none;
  }
}
.login_block_left img {
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
}
.login_block_right {
  width: 50%;
  float: left;
  @include breakpoint(mobile) {
    width: 100%;
  }
}
.login__form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
}
.login__form__label {
  position: relative;
}

.login__form__avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.login__form__avatar__overlay {
  position: absolute;
  background-color: #000;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login__form__label:hover .login__form__avatar__overlay {
  opacity: 0.2;
}

.login__form__username {
  margin-top: 200px;
  max-width: 500px;
  width: 100%;
}

.login__form__username__label {
  display: block;
  text-align: center;
  font-weight: 700;
  color: #292929;
}

.login__form__username__input {
  width: 100%;
  margin-top: 2rem;
  padding: 0.4rem;
  border: none;
  border-bottom: 1.5px solid #afb4b8;
  text-align: center;
  font-size: 18px;
}

.login__form__username__input:focus {
  outline: none;
}
.login_button {
  width: 100%;
  float: left;
  border: 0;
  background: blue;
  color: #fff;
  border-radius: 16px;
  margin-top: 20px;
  padding: 16px;
  cursor: pointer;
}
</style>
